@media only screen and (max-width: 576px) {
  .nav-bar {
    display: block !important;
  }
  .nav {
    width: 100%;
    text-align: justify;
    font-size: larger;
  }
  .menu-nav {
    text-align: left;
    margin-left: 5%;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    font-size: 80%;
  }

  /*TẠO  1 cột BẢNG MỤC TIÊU NGHỀ NGHIỆP VÀ THÔNG TIN CÁ NHÂN*/
  #about .container {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    height: auto;
    line-height: 10%;
  }

  /*Căn chỉnh tên MỤC TIÊU NGHỀ NGHIỆP - THÔNG TIN CÁ NHÂN*/
  #about .container h3 {
    margin-top: 10%;
    margin-left: 10%;
    text-align: left !important;
  }
  /*MỤC TIÊU NGHỀ NGHIỆP*/
  .target-p {
    text-align: justify;
    margin: 12%;
    font-size: larger;
  }
  #personal-info {
    margin-left: 0px;
  }
  .personal {
    margin: 8% 12% 0% 0% !important;
  }
  #personal-info .link-icon {
    margin: 0% !important;
    padding: 8% 12% 8% 0%;
  }

  /*THÔNG TIN CÔNG VIỆC*/
  /*CHIA 1 cột 6 hàng*/
  .job-info-grid {
    grid-template-columns: 100%;
  }
  #job-info .container {
    margin: 0% 15% 10% 15% !important;
    padding: 0% !important;
  }
  .job-info-grid article {
    border: 1px solid rgb(212, 212, 212);
    width: 70%;
  }

  /*CHỨNG CHỈ - GIẢI THƯỞNG*/
  /*CHIA 1 cột */
  #certificate .cer {
    grid-template-columns: 100%;
    gap: 2%;
  }
  #certificate .container {
    margin-left: 0% !important;
  }
  #certificate .section-title {
    margin-left: 5% !important;
    padding-top: 5% !important;
  }
  .certificate-box {
    margin-left: 0% !important;
    padding: 0% !important;
  }
  #certificate h6 {
    margin-top: 2% !important;
  }
  .cer2 {
    border-left: none !important;
  }
  .cer {
    border-bottom: 1px solid #d6c08d !important;
    padding-bottom: 5% !important;
    padding-top: 5% !important;
  }
  .grid-cer:last-child {
    border-top: none !important;
  }
  .grid-items img {
    width: 100%;
  }
  #certificate .grid-items-content h6,
  p {
    font-size: x-large !important;
  }

  /*DỰ ÁN*/
  /*Tạo 1 cột */
  #project .section-title {
    margin-left: 0% !important;
    padding-left: 0% !important;
  }
  #project .row {
    margin: auto 0% !important;
  }
  #project .container-fluid {
    padding-right: 0% !important;
  }
  /*TÊN DỰ ÁN*/
  #project h5 {
    padding: 5% 5% !important;
    font-size: 70%;
  }
  #project .time {
    margin-left: 2%;
  }
  #project .time ul li {
    margin: 5px auto 5px 5px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #project .time ul {
    grid-template-columns: repeat(1, auto);
  }
  #project .time ul .lamp {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .discription {
    width: max-content;
  }
  .project {
    margin-bottom: 10%;
    padding: 0%;
  }
  /*Kết thúc body*/
}
